.carouselContainerDiv {
    width: 100%;
    height:500px;
    margin:auto;
}

.carouselImage {
    object-fit: cover;
    width: 100%;
    height: 530px;
	cursor: pointer;
}


.titleCaptionCarousel {
	background: #1ED6A8;
	height:90px;
	width: 250px;
    margin-left:800px;
	padding-top:30px;
	justify-content: center;
	align-items: center;
	font-family: Century Gothic;
	cursor: pointer;
}

.captionText {
	background:transparent
}
