.DestineShowStyle {
	position: fixed;
	background-color: white;
	top:90px;
	right: 300px;
	left: 300px;
	bottom:90px;
	border: 5px solid black;
	justify-content: center;
	border-radius: 10px;
	

}

.button {
	background-color: red;
	border-bottom-color: red;
	cursor:pointer;
	border-radius: 50px;
	border: none;
}

.info {
	text-align: center;
}