.DestineProp {
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #39eb7d ;
	width: 300px;
	height: 300px;
	padding: 1px;
	cursor:pointer;
	
}

.DestineProp:hover {
	background-color: #B2F5DD;
}

.DestinePropWithoutHover {
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #E1F7EF ;
	width: 300px;
	height: 300px;
	padding: 1px;
}


.Images {
	width: 250px;
	height: 200px;
	display: block;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Nombre {
	font-size: 25px;
	text-align: center;
	align-items: center;
	font-family: Century Gothic;
	margin-top: 15px;
}

.InfoProp {
	font-family: Century Gothic;
	text-align: center;
}

