.containerFooter {
    background-color: #BBFCFF;
    height: 80px;
    margin-top: 30px;
}


.banner {
	display: block;
	background-color: #1ed6a8;
	width: all;
	height: 10px;
}

.miniBanner {
	display: block;
	background-color: #03848d ;
	width: all;
	height: 5px;
}

.footerContentDiv {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
