.containerFooter {
    background-color: #BBFCFF;
    height: 80px;
    margin-top: 30px;
}


.banner {
	display: block;
	background-color: #1ed6a8;
	width: all;
	height: 10px;
}

.miniBanner {
	display: block;
	background-color: #03848d ;
	width: all;
	height: 5px;
}

.footerContentDiv {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

@media only screen and (max-width:717px) {
	.containerFooter {
		height: 100%;
	}

	.footerContentDiv {
		display: block;
		text-align: center;
		font-size: 1em;
	}
}

@media only screen and (min-width:718px) and (max-width:900px) {
	.containerFooter {
		height: 100%
	}
	.footerContentDiv {
		display: block;
		text-align: center;
		font-size: 1em;
	}
}