.containerDiv {
	display: grid;
	grid-template-columns: 100%;
}

.titleHome {
	justify-content: center;
	text-align: center;
	background: #1ED6A8;
	color: white;
	width: 500px;
	height: 100px;
	font-weight: normal;
	font-size: 40px;
	margin-top: 500px;
	margin-left: 30px;
}

.divProps {
	display:flex;
	width: 100%;
	height: 800px;
	font-family: Century Gothic;
	background-image: url(https://storage.googleapis.com/md-media-cl/2020/11/buenos-aires-el-calafate-ushuaia-portada.jpg);
	background-size: cover;
	margin-top: 0px;
}


.divImageContainer {
	margin-top: 30px;
	background-color:white;
	margin-right: 50px;
}

.img {
	justify-content: center;
	margin: auto;
	width: 400px;
	height: 300px;
}

.sliderDiv {
	background-color: red;
}

.footer {
	margin-bottom: 0px;
}

.middleHome {
	height: 100px;
	background: #1ED6A8;
	color: white;
	font-family: Century Gothic;
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
}

@media only screen and (max-width:717px) {
	.middleHome {
		width: 100%;
		font-size: 1.5em;
		height:200%;
	}
	.divProps {
		background-position: 70% 60%;
	}
}

@media only screen and (min-width:718px) and (max-width:900px) {
	.divProps {
		background-position: 40% 40%;
	}
}