
.titleHome {
	display: flex;
	justify-content: center;
	text-align: center;
	background: #1ED6A8;
	color: white;
	width: 500px;
	margin:auto;
	font-weight: normal;
}

.divProps {
	display:flex;
	background-color: white;
}

.divContainerTitleandText {
	display: block;
	background-color: white;
	width: all;
	margin-top: 30px;
	margin-right: 50px;
	align-items: center;
	font-size: Century Gothic;
}

.text {
	margin-top: 30px;
	font-family: Century Gothic;
	font-size: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

.insideText {
	text-align: center;
}

.divImageContainer {
	margin-top: 30px;
	background-color:white;
	margin-right: 50px;
}

.img {
	justify-content: center;
	margin: auto;
	width: 400px;
	height: 300px;
}

.sliderDiv {
	background-color: red;
}

.footer {
	margin-bottom: 0px;
}
