.containerDivNavBar {
	width: 100%;
	height: 100%;
	background: #00AF6F;
}

.DivProp {
	width: 100%;
	height: 100%;
	background-color: #aefade;
	display: flex;
	justify-content: space-around;
	align-items:center;
}


.NavLink {
	font-family: Century Gothic;
	font-size: 20px;
	text-decoration: none;
	color: #015737c7;
	font-weight: bold;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.NavLink:hover, .NavLink:focus {
	background-size: 100% 2px;
	text-decoration: none;
	color: #015737c7
}


.images {
	padding-top: 0.5%;
	margin-right: 0px;
	margin-left: 0px;
	height: 80px;
	mix-blend-mode: multiply;
	cursor: pointer;
}

.navicon {
	display: none;
	cursor: pointer;
}


.banner {
	display: block;
	background-color: #00AF6F;
	width: all;
	height: 10px;
}

.miniBanner {
	display: block;
	background-color: black;
	width: all;
	height: 5px;
}

.responsiveMenuContainer {
	height: 100%;
}

.responsiveMenu {	
	margin: auto;
	margin-top: 2%;
	list-style-type: none;
	font-family: Century Gothic;
	background: #00AF6F;
	font-size: 20px;	
}


.elementsMenu {
	color: white;
}

.elementsMenu:focus, .elementsMenu:hover {
	color: #015737c7;
	text-decoration: none;
}
@media only screen and (min-width:650px) and (max-width: 912px) {
	.NavLink {
		font-size: 15px;
	}
}
@media only screen and (max-width:649px) {

	.NavLink{
		display: none;
	}

	.images {
		display: block;
		margin-top:10px;
		margin-right: 20%;
		margin-bottom: auto;
	}

	.navicon {
		display: flex;
		font-size: 2em;
		margin: auto;
		color:  #00AF6F;
	}
}