

.sectionName {
    background-color:#00AF6F;
    height: 90px;
    width: 430px;
    margin-top:130px;
    margin-left: 150px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Century Gothic;
    color: white
}

.bannerSectionDiv {
    display: block;
    height:30px;
    width: all;
    background: #00AF6F;
}

.divHomeSection {
    height: 100%;
}
@media only screen and (max-width:717px) {
    .sectionName {
        display: none;
    }

    .bannerSectionDiv {
        display: none;
    }


    .divHomeSection {
        height: 130%;
    }
}
