

.sectionName {
    background-color:#1ed6a8;
    height: 90px;
    width: 430px;
    margin-top:130px;
    margin-left: 150px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Century Gothic;
    color: white
}

.bannerSectionDiv {
    display: block;
    height:30px;
    width: all;
    background: #1ed6a8;
}

@media only screen and (max-width:717px) {
    .sectionName {
        margin-top: 160px;
        margin-left:0px;
        width: 30%;
        font-size: 1.0em;
        height:30%;
        padding: auto;
    }

    .bannerSectionDiv {
        margin-top:0px;
        height:40%;
    }
}
