.Background {
	background-color: lightseagreen;
}

.images {
	justify-content: center;
	display: block;
	margin: auto;
}

.text {
	font-family: Century Gothic;
}

.ContenedorDiv {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

